<md-content class="md-padding" layout="row" layout-sm="column">
  <form ng-submit="vm.save()">
    <h3>{{vm.name}} de Alunos</h3>
    <input type="hidden" ng-model="vm.aluno._id">
    <md-input-container>
      <label for="">Nome  </label>
      <input type="text" required ng-model="vm.aluno.name">
    </md-input-container>  
    <md-input-container>
      <label for="">CPF  </label>
      <input type="text" required ng-model="vm.aluno.cpf">
    </md-input-container>   
    <md-input-container>
      <label for="">Email  </label>
      <input type="email" required ng-model="vm.aluno.email">
    </md-input-container>   
    <md-input-container>
      <label for="">Matricula  </label>
      <input type="text" required ng-model="vm.aluno.matricula">
    </md-input-container>   
    <md-input-container>
      <md-button class="md-raised md-primary" >Salvar</md-button>
    </md-input-container>
  </form>
<md-content>
