<md-content class="md-padding" layout="column" layout-sm="column">
  <md-progress-linear class="md-padding" ng-if="!vm.alunos.length" md-mode="indeterminate">
  </md-progress-linear>
 
  <md-list ng-if="vm.alunos.length">
    <md-input-container>
      <label for="">Buscar Aluno</label>
      <input type="text" ng-model="aluno.name">
    </md-input-container>  
    <md-item ng-repeat="aluno in vm.alunos | filter:aluno.name">
      <md-item-content>
        <div class="md-tile-content" >
          <h3>Name : {{aluno.name}}</h3>
          <h4>Email : {{aluno.email}}</h4>
          <h4> CPF : {{aluno.cpf}}</h4>
          <h4> Matricula : {{aluno.matricula}}</h4>
          <md-button md-no-ink class="md-primary" 
          ng-href="#update/{{aluno}}"> Editar</md-button>
          <md-button md-no-ink class="md-warn" 
          ng-click="vm.deletar($index ,aluno._id)"> deletar</md-button>
        </div>
      </md-item-content>
    <md-item>
  </md-list>
</md-content>