<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>App Cordova</title>
  <link rel="stylesheet" href="css/all.min.css">
</head>
<body ng-app="app">
  <div class="main" ng-controller="MainCtrl as vm">
    <div class="main-img">
      <img class="main-img" ng-src="img/angular.jpeg"
       ng-click="vm.showMenu(true)"></img>
    </div>
    <div ng-if="vm.flagMenu" class="main-menu">
  
      <ul>
        <li ng-repeat="item in vm.itens">
          <md-button class="md-raised md-primary"
            ng-click="vm.showItem(item.id)" aria-label="{{item.name}}">
            {{item.name}}
          </md-button>
        </li>
      </ul>
    </div>
    <div ng-if="vm.flagDados" class="main-dados">
      <md-button class="md-raised md-primary"
            ng-click="vm.back()" aria-label="{{close}}">
           voltar
      </md-button>
      <div ng-if="vm.item" class="main-dados">
        <h1>{{vm.item.name}}</h1>
        <img class="main-dados" src="{{vm.item.img}}"></img>
        <p>{{vm.item.details}}</p>
      </div>
    </div>
  </div>
  <script src="js/all.min.js"></script>
  <script src="js/index.js"></script>
 </body>
</html>